#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 600px;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Button_2 {
  position: absolute;
  top: 561px;
  left: 25px;
  width: 97px;
  height: 38px;
  background-color: #474747;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Image_1 {
  position: absolute;
  top: 16px;
  left: 23px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 103px;
  height: 127px;
  position: absolute;
  overflow: hidden;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Callout_1 .content {
  width: 103px;
  height: 127px;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Callout_1 {
  position: absolute;
  top: -22px;
  left: 150px;
  width: 103px;
  height: 171px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Rich_text_1 {
  position: absolute;
  top: 12px;
  left: 166px;
  width: 123px;
  height: 103px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14pt;
  font-family: Roboto-Regular,Arial;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 0px;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Button_3 {
  position: absolute;
  top: 561px;
  left: 153px;
  width: 192px;
  height: 38px;
  background-color: #474747;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Input_3 {
  position: absolute;
  top: 259px;
  left: 23px;
  padding-left: 22px;
  width: 275px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 48pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Input_3 input {
  color: #007DF8;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 48pt;
  font-style: normal;
  font-weight: 400;
  min-height: 48pt;
  text-shadow: none;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Input_3 .icon {
  top: 34px;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_1 {
  position: absolute;
  top: 237px;
  left: 66px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 20pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_2 {
  position: absolute;
  top: 238px;
  left: 205px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 20pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Image_123 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_3 {
  position: absolute;
  top: 4px;
  left: 293px;
  width: 53px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Image_124 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Dynamic_Panel_15 {
  position: absolute;
  top: 68px;
  left: 112px;
  display: none;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Panel_6 {
  width: 248px;
  height: 277px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_38 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_38 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_42 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_42 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_43 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_43 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_39 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_39 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_53 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_53 .valign {
  vertical-align: middle;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_40 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 #s-Label_40 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-0deaf64c-7629-4b30-98c8-84dc29a7f060 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}