#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Image_123 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2338f027-6ef6-4576-9050-bbe8472558d1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}