#s-34c1909c-dc09-444b-b6f7-e1a6be754179 #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-34c1909c-dc09-444b-b6f7-e1a6be754179 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-34c1909c-dc09-444b-b6f7-e1a6be754179 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-34c1909c-dc09-444b-b6f7-e1a6be754179 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}