#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-98d0230f-9b6f-4cb6-a884-744de8f7660c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}