#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-b277d3ab-c589-48a1-93c9-3784f391e64f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}