#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}