#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}