#s-43c3e595-4668-4d80-87f4-a5b39456088f #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43c3e595-4668-4d80-87f4-a5b39456088f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43c3e595-4668-4d80-87f4-a5b39456088f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-43c3e595-4668-4d80-87f4-a5b39456088f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}