#s-5b12b955-31bf-4280-b5a2-56f2267d6af0 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-5b12b955-31bf-4280-b5a2-56f2267d6af0 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-5b12b955-31bf-4280-b5a2-56f2267d6af0 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b12b955-31bf-4280-b5a2-56f2267d6af0 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-5b12b955-31bf-4280-b5a2-56f2267d6af0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}