#s-78074bc5-43d5-4429-abfe-a1740c189a1d #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-78074bc5-43d5-4429-abfe-a1740c189a1d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-78074bc5-43d5-4429-abfe-a1740c189a1d #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78074bc5-43d5-4429-abfe-a1740c189a1d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-78074bc5-43d5-4429-abfe-a1740c189a1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}