#s-80107560-40e1-4f85-be44-d9b2a919d9ed #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-80107560-40e1-4f85-be44-d9b2a919d9ed #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-80107560-40e1-4f85-be44-d9b2a919d9ed #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-80107560-40e1-4f85-be44-d9b2a919d9ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}