#s-80107560-40e1-4f85-be44-d9b2a919d9ed #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80107560-40e1-4f85-be44-d9b2a919d9ed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80107560-40e1-4f85-be44-d9b2a919d9ed #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-80107560-40e1-4f85-be44-d9b2a919d9ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}