#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Label_38 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 #s-Label_42 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-a1f9abd2-d28f-4e97-bd99-24764e1577d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}