#s-b68f3673-0e3b-418e-a310-4c70c16e338b #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-b68f3673-0e3b-418e-a310-4c70c16e338b #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-b68f3673-0e3b-418e-a310-4c70c16e338b #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b68f3673-0e3b-418e-a310-4c70c16e338b #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-b68f3673-0e3b-418e-a310-4c70c16e338b #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-b68f3673-0e3b-418e-a310-4c70c16e338b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}