#s-0d68eeae-50a4-4746-b813-fcc716bc0862 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 614px;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-TITULO {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 359px;
  height: 69px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 20pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-TITULO .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_3 {
  position: absolute;
  top: 458px;
  left: 185px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_1 {
  position: absolute;
  top: 500px;
  left: 185px;
  width: 90px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_2 {
  position: absolute;
  top: 455px;
  left: 23px;
  width: 117px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Image_77 {
  position: absolute;
  top: 411px;
  left: 129px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Image_79 {
  position: absolute;
  top: 411px;
  left: 185px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_1 {
  position: absolute;
  top: 522px;
  left: 311px;
  width: 28px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_4 {
  position: absolute;
  top: 522px;
  left: 288px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_3 {
  position: absolute;
  top: 500px;
  left: 23px;
  width: 117px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_2 {
  position: absolute;
  top: 458px;
  left: 93px;
  width: 14px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_5 {
  position: absolute;
  top: 462px;
  left: 84px;
  width: 15px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_7 {
  position: absolute;
  top: 458px;
  left: 111px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_6 {
  position: absolute;
  top: 458px;
  left: 127px;
  width: 35px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_8 {
  position: absolute;
  top: 522px;
  left: 116px;
  width: 42px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_9 {
  position: absolute;
  top: 522px;
  left: 93px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Image_1 {
  position: absolute;
  top: 90px;
  left: 11px;
  width: 339px;
  height: 310px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_10 {
  position: absolute;
  top: 458px;
  left: 291px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_11 {
  position: absolute;
  top: 458px;
  left: 309px;
  width: 35px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Button_3 {
  position: absolute;
  top: 575px;
  left: 98px;
  width: 145px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Image_123 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_12 {
  position: absolute;
  top: 4px;
  left: 293px;
  width: 53px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Image_124 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Dynamic_Panel_15 {
  position: absolute;
  top: 68px;
  left: 112px;
  display: none;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Panel_6 {
  width: 248px;
  height: 277px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_38 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_38 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_42 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_42 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_43 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_43 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_39 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_39 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_53 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_53 .valign {
  vertical-align: middle;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_40 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 #s-Label_40 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-0d68eeae-50a4-4746-b813-fcc716bc0862 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}