#s-18af524a-05af-427d-9072-39827c941fe8 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 319px;
  min-height: 593px;
}
#s-18af524a-05af-427d-9072-39827c941fe8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Button_3 {
  position: absolute;
  top: 554px;
  left: 73px;
  width: 216px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Button_4 {
  position: absolute;
  top: 495px;
  left: 73px;
  width: 215px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Image_1 {
  position: absolute;
  top: 39px;
  left: 42px;
  width: 277px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Image_2 {
  position: absolute;
  top: 284px;
  left: 35px;
  width: 284px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Image_3 {
  position: absolute;
  top: 158px;
  left: 116px;
  width: 121px;
  height: 127px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-18af524a-05af-427d-9072-39827c941fe8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}