#s-18af524a-05af-427d-9072-39827c941fe8 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-18af524a-05af-427d-9072-39827c941fe8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-18af524a-05af-427d-9072-39827c941fe8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}