#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 600px;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 360px;
  min-width: 360px;
  min-height: 600px;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-TITULO {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 359px;
  height: 69px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 17pt;
  line-height: 17pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-TITULO .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Button_2 {
  position: absolute;
  top: 561px;
  left: 25px;
  width: 150px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Button_3 {
  position: absolute;
  top: 561px;
  left: 186px;
  width: 150px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Dynamic_Panel_11 {
  position: absolute;
  top: 113px;
  left: 32px;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_2 {
  width: 292px;
  height: 371px;
  background-color: #4A86E8;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 5px;
  padding-left: 6px;
  width: 354px;
  height: 28px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_25 .valign {
  vertical-align: bottom;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_26 {
  position: absolute;
  top: 35px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_26 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_27 {
  position: absolute;
  top: 83px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_27 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_28 {
  position: absolute;
  top: 131px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_28 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_29 {
  position: absolute;
  top: 179px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_29 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_30 {
  position: absolute;
  top: 227px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_30 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_32 {
  position: absolute;
  top: 323px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_32 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_6 {
  position: absolute;
  top: 43px;
  left: 258px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_7 {
  position: absolute;
  top: 91px;
  left: 258px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_8 {
  position: absolute;
  top: 138px;
  left: 256px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_9 {
  position: absolute;
  top: 187px;
  left: 256px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_10 {
  position: absolute;
  top: 235px;
  left: 258px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_11 {
  position: absolute;
  top: 73px;
  left: 288px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_31 {
  position: absolute;
  top: 275px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_31 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_5 {
  position: absolute;
  top: 282px;
  left: 256px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_12 {
  position: absolute;
  top: 329px;
  left: 256px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Dynamic_Panel_13 {
  position: absolute;
  top: 337px;
  left: 31px;
  display: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_4 {
  width: 291px;
  height: 155px;
  background-color: #4A86E8;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_42 {
  position: absolute;
  top: 35px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_42 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_43 {
  position: absolute;
  top: 54px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_43 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_44 {
  position: absolute;
  top: 79px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_44 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_45 {
  position: absolute;
  top: 103px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_45 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_46 {
  position: absolute;
  top: 127px;
  left: -7px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_46 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_47 {
  position: absolute;
  top: 0px;
  left: -1px;
  padding-left: 20px;
  width: 340px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_47 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_48 {
  position: absolute;
  top: 151px;
  left: -7px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_48 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_49 {
  position: absolute;
  top: 175px;
  left: -7px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_49 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_50 {
  position: absolute;
  top: 199px;
  left: -7px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_50 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_53 {
  position: absolute;
  top: 0px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_54 {
  position: absolute;
  top: 29px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_55 {
  position: absolute;
  top: 51px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_56 {
  position: absolute;
  top: 76px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_57 {
  position: absolute;
  top: 100px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_58 {
  position: absolute;
  top: 125px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_59 {
  position: absolute;
  top: 147px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_60 {
  position: absolute;
  top: 196px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_61 {
  position: absolute;
  top: 172px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Dynamic_Panel_12 {
  position: absolute;
  top: 243px;
  left: 32px;
  display: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_3 {
  width: 291px;
  height: 213px;
  background-color: #4A86E8;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_34 {
  position: absolute;
  top: 35px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 19px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_34 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_35 {
  position: absolute;
  top: 54px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 25px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_35 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_36 {
  position: absolute;
  top: 79px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_36 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_37 {
  position: absolute;
  top: 103px;
  left: 0px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_37 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_38 {
  position: absolute;
  top: 127px;
  left: -7px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_38 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_33 {
  position: absolute;
  top: 0px;
  left: -1px;
  padding-left: 20px;
  width: 340px;
  height: 28px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_33 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_41 {
  position: absolute;
  top: 183px;
  left: -1px;
  padding-left: 20px;
  width: 340px;
  height: 24px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_41 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_44 {
  position: absolute;
  top: 0px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_45 {
  position: absolute;
  top: 29px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_46 {
  position: absolute;
  top: 51px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_47 {
  position: absolute;
  top: 76px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_48 {
  position: absolute;
  top: 100px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_49 {
  position: absolute;
  top: 125px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_52 {
  position: absolute;
  top: 196px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_51 {
  position: absolute;
  top: 172px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_40 {
  position: absolute;
  top: 155px;
  left: -7px;
  padding-left: 20px;
  width: 340px;
  height: 28px;
  background-color: #4A86E8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_40 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_50 {
  position: absolute;
  top: 172px;
  left: 211px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Button_4 {
  position: absolute;
  top: 498px;
  left: 84px;
  width: 192px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_123 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_2 {
  position: absolute;
  top: 4px;
  left: 293px;
  width: 53px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Image_124 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Dynamic_Panel_15 {
  position: absolute;
  top: 68px;
  left: 112px;
  display: none;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_6 {
  width: 248px;
  height: 277px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_51 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_51 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_52 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_52 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_53 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_53 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_54 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_54 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_55 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_55 .valign {
  vertical-align: middle;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_56 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 #s-Label_56 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-19a1e42e-d1c2-4891-83d9-6381e71a7e70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}