#s-2d2b6ed4-6088-4cdb-bf32-13204c239521 #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d2b6ed4-6088-4cdb-bf32-13204c239521 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d2b6ed4-6088-4cdb-bf32-13204c239521 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2d2b6ed4-6088-4cdb-bf32-13204c239521 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}