#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_38 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_42 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_43 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_39 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_40 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3360fe9a-cd8c-4638-b5ac-625ec07a2e03 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}