#s-34c1909c-dc09-444b-b6f7-e1a6be754179 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-34c1909c-dc09-444b-b6f7-e1a6be754179 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-34c1909c-dc09-444b-b6f7-e1a6be754179 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-34c1909c-dc09-444b-b6f7-e1a6be754179 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}