#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_38 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_42 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_43 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_39 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Label_40 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 292px;
  height: 114px;
  -ms-transform: rotate(0.0deg);
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-49a92b66-9ad3-4fb0-bfcd-404a8c4373bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}