#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 602px;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Button_2 {
  position: absolute;
  top: 563px;
  left: 33px;
  width: 296px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Button_2 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_1 {
  position: absolute;
  top: 16px;
  left: 23px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 81px;
  height: 134px;
  position: absolute;
  overflow: hidden;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Callout_1 .content {
  width: 81px;
  height: 134px;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Callout_1 {
  position: absolute;
  top: -25px;
  left: 164px;
  width: 81px;
  height: 165px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Rich_text_1 {
  position: absolute;
  top: 13px;
  left: 157px;
  width: 137px;
  height: 90px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14pt;
  font-family: Roboto-Regular,Arial;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 0px;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Dynamic_Panel_15 {
  position: absolute;
  top: 68px;
  left: 112px;
  display: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Panel_6 {
  width: 248px;
  height: 277px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_38 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_38 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_42 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_42 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_43 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_43 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_39 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_39 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_53 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_53 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_40 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_40 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_123 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_2 {
  position: absolute;
  top: 4px;
  left: 293px;
  width: 53px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_2 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_124 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_2 {
  position: absolute;
  top: 152px;
  left: 52px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_3 {
  position: absolute;
  top: 152px;
  left: 229px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_4 {
  position: absolute;
  top: 285px;
  left: 52px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_5 {
  position: absolute;
  top: 293px;
  left: 229px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Image_6 {
  position: absolute;
  top: 413px;
  left: 143px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_1 {
  position: absolute;
  top: 247px;
  left: 33px;
  width: 159px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 10pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_1 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_3 {
  position: absolute;
  top: 245px;
  left: 228px;
  width: 108px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_3 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_4 {
  position: absolute;
  top: 377px;
  left: 77px;
  width: 50px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_4 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_5 {
  position: absolute;
  top: 377px;
  left: 219px;
  width: 126px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_5 .valign {
  vertical-align: middle;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_6 {
  position: absolute;
  top: 500px;
  left: 113px;
  width: 160px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b #s-Label_6 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-52c1a31c-89ac-4489-a7d8-5cf1157e8f3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}