#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-55766d55-77ec-4d6b-a5c4-6a772429c166 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}