#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb {
  background-color: transparent;
  background-image: none;
  min-width: 361px;
  min-height: 640px;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Image_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Image_1 {
  position: absolute;
  top: 238px;
  left: 260px;
  width: 100px;
  height: 122px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Label_1 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 360px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Label_1 .valign {
  vertical-align: middle;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 214px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Dynamic_Panel_15 {
  position: absolute;
  top: 31px;
  left: 0px;
  display: none;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Panel_6 {
  width: 360px;
  height: 94px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Label_38 {
  padding-left: 20px;
  width: 340px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Label_38 .valign {
  vertical-align: middle;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Label_42 {
  padding-left: 20px;
  width: 340px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb #s-Label_42 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-7de688f1-e89c-4355-8d0d-f0c7058ad5cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}