#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Rich_text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}