#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-TITULO {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Rich_text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-81e09c85-b019-4f54-84e0-3b83ab577975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}