#s-9b055c63-b71d-48b6-8525-40eff0f60e77 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 638px;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-TITULO {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 359px;
  height: 69px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 20pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-TITULO .valign {
  vertical-align: middle;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Button_3 {
  position: absolute;
  top: 541px;
  left: 189px;
  width: 150px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_1 {
  position: absolute;
  top: 67px;
  left: 54px;
  width: 247px;
  height: 324px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20pt;
  font-family: Roboto-Regular,Arial;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_1 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 0px;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
  line-height: 0px;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Button_4 {
  position: absolute;
  top: 541px;
  left: 32px;
  width: 150px;
  height: 38px;
  background-color: #FFFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Button_5 {
  position: absolute;
  top: 483px;
  left: 32px;
  width: 306px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Button_5 .valign {
  vertical-align: middle;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_2 {
  position: absolute;
  top: 584px;
  left: 34px;
  width: 301px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_2 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rectangle_7 {
  position: absolute;
  top: 226px;
  left: 33px;
  width: 288px;
  height: 179px;
  background-color: #282828;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 20px;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Image_3 {
  position: absolute;
  top: 370px;
  left: 189px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Image_1 {
  position: absolute;
  top: 370px;
  left: 111px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Label_1 {
  position: absolute;
  top: 245px;
  left: 55px;
  width: 250px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 16pt;
  line-height: 16pt;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Image_54 {
  position: absolute;
  top: 123px;
  left: 80px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 #s-Image_57 {
  position: absolute;
  top: 123px;
  left: 233px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-9b055c63-b71d-48b6-8525-40eff0f60e77 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}