#s-a4f02a40-7827-49a8-bed1-e980e2513000 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 613px;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-TITULO {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 359px;
  height: 69px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 20pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-TITULO .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Button_3 {
  position: absolute;
  top: 574px;
  left: 27px;
  width: 308px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Rich_text_1 {
  position: absolute;
  top: 95px;
  left: 38px;
  width: 293px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 0px;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 0px;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_1 {
  position: absolute;
  top: 157px;
  left: 39px;
  width: 55px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_2 {
  position: absolute;
  top: 173px;
  left: 106px;
  width: 157px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_3 {
  position: absolute;
  top: 226px;
  left: 106px;
  width: 157px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_2 {
  position: absolute;
  top: 211px;
  left: 39px;
  width: 55px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_3 {
  position: absolute;
  top: 269px;
  left: 39px;
  width: 55px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_4 {
  position: absolute;
  top: 285px;
  left: 106px;
  width: 157px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_5 {
  position: absolute;
  top: 338px;
  left: 106px;
  width: 157px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_4 {
  position: absolute;
  top: 323px;
  left: 39px;
  width: 55px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_5 {
  position: absolute;
  top: 383px;
  left: 39px;
  width: 55px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_6 {
  position: absolute;
  top: 399px;
  left: 106px;
  width: 157px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_7 {
  position: absolute;
  top: 452px;
  left: 106px;
  width: 157px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_6 {
  position: absolute;
  top: 437px;
  left: 39px;
  width: 55px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Dynamic_Panel_15 {
  position: absolute;
  top: 68px;
  left: 112px;
  display: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Panel_6 {
  width: 248px;
  height: 277px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_38 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_38 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_42 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_42 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_43 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_43 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_39 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_39 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_53 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_53 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_40 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_40 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_123 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_12 {
  position: absolute;
  top: 4px;
  left: 293px;
  width: 53px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 #s-Image_124 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-a4f02a40-7827-49a8-bed1-e980e2513000 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}