#s-b02db1a0-0014-4775-8e74-324263f09825 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-b02db1a0-0014-4775-8e74-324263f09825 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-b02db1a0-0014-4775-8e74-324263f09825 #s-Rich_text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-b02db1a0-0014-4775-8e74-324263f09825 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-b02db1a0-0014-4775-8e74-324263f09825 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}