#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_38 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_42 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_43 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_39 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Label_40 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-bdbfc239-d1c5-4cb5-899c-83e97619a5d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}