#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 616px;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Button_2 {
  position: absolute;
  top: 577px;
  left: 44px;
  width: 275px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_1 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 103px;
  height: 152px;
  position: absolute;
  overflow: hidden;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Callout_1 .content {
  width: 103px;
  height: 152px;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Callout_1 {
  position: absolute;
  top: -25px;
  left: 148px;
  width: 103px;
  height: 180px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Rich_text_1 {
  position: absolute;
  top: 13px;
  left: 142px;
  width: 161px;
  height: 103px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14pt;
  font-family: Roboto-Regular,Arial;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 0px;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_123 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_2 {
  position: absolute;
  top: 4px;
  left: 293px;
  width: 53px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_124 {
  position: absolute;
  top: 3px;
  left: 278px;
  width: 82px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Dynamic_Panel_15 {
  position: absolute;
  top: 68px;
  left: 112px;
  display: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Panel_6 {
  width: 248px;
  height: 277px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_38 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_38 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_42 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_42 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_43 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_43 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_39 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_39 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_53 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_53 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_40 {
  padding-left: 20px;
  width: 228px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_40 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_2 {
  position: absolute;
  top: 146px;
  left: 52px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_1 {
  position: absolute;
  top: 245px;
  left: 62px;
  width: 80px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_3 {
  position: absolute;
  top: 146px;
  left: 214px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_3 {
  position: absolute;
  top: 245px;
  left: 222px;
  width: 84px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_4 {
  position: absolute;
  top: 289px;
  left: 44px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_4 {
  position: absolute;
  top: 388px;
  left: 59px;
  width: 86px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_5 {
  position: absolute;
  top: 289px;
  left: 214px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_5 {
  position: absolute;
  top: 388px;
  left: 235px;
  width: 67px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_6 {
  position: absolute;
  top: 425px;
  left: 52px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_6 {
  position: absolute;
  top: 524px;
  left: 67px;
  width: 70px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Image_7 {
  position: absolute;
  top: 425px;
  left: 219px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_7 {
  position: absolute;
  top: 524px;
  left: 235px;
  width: 93px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 #s-Label_7 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-d2936a2b-e2f3-478f-8e0c-ded95ea45282 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}