#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-TITULO {
  -ms-transform: rotate(0.0deg);
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-d808f98b-77f6-414b-a98f-ec6d58808539 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}