#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 360px;
  min-height: 594px;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-TITULO {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 359px;
  height: 69px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20pt;
  line-height: 20pt;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-TITULO .valign {
  vertical-align: middle;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Button_3 {
  position: absolute;
  top: 555px;
  left: 72px;
  width: 225px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  line-height: 13pt;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Button_3 .valign {
  vertical-align: middle;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_1 {
  position: absolute;
  top: 68px;
  left: 50px;
  width: 247px;
  height: 301px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18pt;
  font-family: Roboto-Regular,Arial;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_1 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
  line-height: 0px;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 0px;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 {
  position: absolute;
  top: 405px;
  left: 72px;
  width: 200px;
  height: 102px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e0d8eb09-233b-421b-921c-9ae8c6c051dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}